Experiment 0 : Introduction to python

In [1]:
# Naman Bothra
# PRN - 25070123078

print("Hello World")

Hello World

In [2]:
arr =[1,2,3]
print(arr)

[1, 2, 3]

In [3]:
print("Naman",10,[1,2,3])

Naman 10 [1, 2, 3]

In [8]:
x = "Naman"
y = 10
z = [1,2,3]
print(x,"\n",y,"\n",z)

Naman
 10
 [1, 2, 3]

In [9]:
x = "Naman"
y = 10
z = [1,2,3]
print(x,y,z,sep="\n")

Naman
10
[1, 2, 3]